# Default ignored files
/../../PYTHON I /.idea/shelf/
/../../PYTHON I /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../PYTHON I /.idea/httpRequests/
# Datasource local storage ignored files
/../../PYTHON I /.idea/dataSources/
/../../PYTHON I /.idea/dataSources.local.xml
